extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6.text-center
        if (!user)
          .card.shadow.mb-3
            .card-body
              h2 Welcome to Costumes App!
              a.btn.btn-primary.btn-block.mt-2(href="/login") Login
              a.btn.btn-secondary.btn-block.mt-2(href="/register") Register
        if (user)
          .card.shadow.mb-3
            .card-body
              p.text-success You are currently logged in as 
                strong #{user.username}
              a.btn.btn-success.btn-block.mt-2(href="/costumes") Take me to costumes
              a.btn.btn-danger.btn-block.mt-2(href="/logout") Logout
