doctype html
html
  head
    title Costume Created
  body
    h1 #{message}
    h2 Costume Details:
    p Costume Type: #{costume.costume_type}
    p Size: #{costume.size}
    p Cost: $#{costume.cost}
    p 
      a(href="/resource/costumes") Go back to costumes list
